html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.consonant-detail-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.detail-content {
  flex: 1;
  background-color: #FFFFFF !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cam-placeholder {
  flex: 1;
  background-color: #55679C;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 화면 높이를 100%로 설정 */
  width: 50vw; /* 화면의 50%를 정확히 차지하게 설정 */
}

.video-feed {
  width: 100%; /* 비디오를 컨테이너의 가로 100%로 채움 */
  height: 100%; /* 비디오를 컨테이너의 세로 100%로 채움 */
  object-fit: cover; /* 비디오가 컨테이너를 넘치지 않고 꽉 차게 설정 */
  background-color: #FFF;
  transform: scaleX(-1); /* 좌우 반전 제거 */
}

.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.image-container {
  position: relative;
  width: 100%; /* 큰 이미지 컨테이너의 크기를 설정 */
  max-width: 2000px; /* 최대 너비 설정 */
}

.small-image {
  position: absolute;
  top: -100px; /* 상단으로 위치 조정 */
  right: 10px; /* 오른쪽 상단에 고정 */
  width: 25%; /* 작은 이미지 크기 */
  height: auto;
}

.consonant-character {
  font-size: 48px;
  position: absolute;
  top: 10px; /* 자음을 상단 중앙에 배치 */
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
}

.large-image {
  width: 100%; /* 큰 이미지를 컨테이너 크기에 맞게 조정 */
  height: auto;
  margin-top: 50px; /* 이미지와 자음 간격 추가 */
}

.back-arrow {
  font-size: 24px;
  color: black; /* 화살표 색상 검정으로 설정 */
}
