.vowel-detail-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.detail-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #DBDFEA;
  position: relative;
}

.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.vowel-detail-image {
  max-width: 80%;
  max-height: 80%;
}

.vowel-character {
  font-size: 48px;
  margin-top: 20px;
}

.cam-placeholder {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #55679C;
  font-size: 48px;
  color: #FFF;
}
